openapi: 3.0.3
info:
  title: Chalksniffer API
  version: 0.1.0
  description: API for creating, retrieving, exporting, updating, and deleting UBL 2.4 orders.

servers:
  - url: https://www.chalksniffer.com
    description: main production
  - url: http://localhost:3000
    description: local testing

security:
  - ApiKeyAuth: []

tags:
  - name: health
  - name: authentication
  - name: order
  - name: store

paths:
  /health:
    get:
      security: []
      tags:
        - health
      summary: Health check
      description: Returns the health status of the service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect 

  /auth/register:
    post:
      security: []
      tags:
        - authentication
      summary: Register API key
      description: Creates a new API key for accessing the service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect 

  /auth/token/refresh:
    post:
      tags:
        - authentication
      summary: Refresh API key
      description: Invalidates the current API key and returns a new one.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given 
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect 

  /orders:
    post:
      tags:
        - order
      summary: Create order
      description: |
        Creates an order from JSON input. Validates the data, generates UBL 2.4 XML, and stores the order.

        To create a recurring order, set `recurring: true` in the request body along with `frequency` and `startDate`.
        This creates a recurring order schedule with 5 pre-generated instances. The recurring order can then be
        managed via the `/orders/recurring/{id}` endpoints.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OrderCreateRequest'
                - $ref: '#/components/schemas/RecurringOrderCreateRequest'
            examples:
              standardOrder:
                summary: Create a standard one-time order
                value:
                  issueDate: "2026-03-16"
                  documentCurrencyCode: "AUD"
                  buyerCustomerParty:
                    party:
                      partyName: "Buyer Co"
                      postalAddress:
                        streetName: "123 Buyer St"
                        cityName: "Sydney"
                        postalZone: "2000"
                        country: "AU"
                  sellerSupplierParty:
                    party:
                      partyName: "Seller Co"
                      postalAddress:
                        streetName: "456 Seller Ave"
                        cityName: "Melbourne"
                        postalZone: "3000"
                        country: "AU"
                  orderLines:
                    - lineItem:
                        id: "1"
                        quantity: 2
                        lineExtensionAmount: 100.00
                        item:
                          name: "Widget"
                        price:
                          priceAmount: 50.00
                          currencyID: "AUD"
              recurringOrder:
                summary: Create a recurring order (Weekly, starting 2026-03-20)
                value:
                  recurring: true
                  frequency: "Weekly"
                  startDate: "2026-03-20"
                  documentCurrencyCode: "AUD"
                  buyerCustomerParty:
                    party:
                      partyName: "Buyer Co"
                      postalAddress:
                        streetName: "123 Buyer St"
                        cityName: "Sydney"
                        postalZone: "2000"
                        country: "AU"
                  sellerSupplierParty:
                    party:
                      partyName: "Seller Co"
                      postalAddress:
                        streetName: "456 Seller Ave"
                        cityName: "Melbourne"
                        postalZone: "3000"
                        country: "AU"
                  orderLines:
                    - lineItem:
                        id: "1"
                        quantity: 2
                        lineExtensionAmount: 100.00
                        item:
                          name: "Widget"
                        price:
                          priceAmount: 50.00
                          currencyID: "AUD"
      responses:
        '200':
          description: |
            OK - returns the created order object for standard orders, or a recurring order summary for recurring orders.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Order'
                  - $ref: '#/components/schemas/RecurringOrderCreateResponse'
        '400':
          description: Bad Request - missing or invalid fields with per-field error details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '409':
          description: Conflict - an order with the same id already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect 

    get:
      tags:
        - order
      summary: List orders
      description: |
        Returns a paginated list of all orders belonging to the authenticated user.
        Any order field may be used as a query filter.
        Pagination defaults: limit=20, offset=0, max limit=500.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: issueDate
          required: false
          description: 'Filter by issue date. Must be in YYYY-MM-DD format (e.g. 2026-03-16).'
          schema:
            type: string
            format: date
            example: '2026-03-16'
        - in: query
          name: buyerName
          required: false
          schema:
            type: string
        - in: query
          name: sellerName
          required: false
          schema:
            type: string
        - in: query
          name: payableAmount
          required: false
          schema:
            type: number
        - in: query
          name: documentCurrencyCode
          required: false
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          example: AUD
        - in: query
          name: createdAt
          required: false
          description: 'Filter by creation date. Must be in YYYY-MM-DD format (e.g. 2026-03-16).'
          schema:
            type: string
            format: date
            example: '2026-03-16'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 500
        - in: query
          name: offset
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '400':
          description: Bad Request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - API key does not belong to the right user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: API key does not belong to the user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

  /orders/recurring:
    post:
      security: []
      tags:
        - order
      summary: Process recurring orders
      description: |
        Processes all due recurring orders by creating the next scheduled order instance for each.
        An **order instance** is a concrete order generated from a recurring order template on its scheduled date.
        Each recurring order holds up to 5 upcoming instances; when all are consumed, new ones are automatically generated.
        This endpoint is intended to be called by a scheduled cron job (e.g. daily).
      responses:
        '200':
          description: All due recurring orders processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed:
                    type: integer
                    description: Number of recurring orders that had an instance processed
                  orderIds:
                    type: array
                    description: IDs of the concrete orders that were created
                    items:
                      type: string
                required:
                  - processed
                  - orderIds
                example:
                  processed: 2
                  orderIds:
                    - "abc-123"
                    - "def-456"
        '400':
          description: a recurring order instance failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INVALID_ORDER_DATA
                message: Validation failed for recurring
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect 

  /orders/csv:
    get:
      tags:
        - order
      summary: Export orders as CSV
      description: |
        Exports orders as a downloadable CSV file.
        Supports the same filters as GET /orders.
        If limit is omitted, all matching orders are returned.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: id
          required: false
          schema:
            type: string
        - in: query
          name: issueDate
          required: false
          description: 'Filter by issue date. Must be in YYYY-MM-DD format (e.g. 2026-03-16).'
          schema:
            type: string
            format: date
            example: '2026-03-16'
        - in: query
          name: buyerName
          required: false
          schema:
            type: string
        - in: query
          name: sellerName
          required: false
          schema:
            type: string
        - in: query
          name: payableAmount
          required: false
          schema:
            type: number
        - in: query
          name: documentCurrencyCode
          required: false
          schema:
            type: string
            pattern: '^[A-Z]{3}$'
          example: AUD
        - in: query
          name: createdAt
          required: false
          description: 'Filter by creation date. Must be in YYYY-MM-DD format (e.g. 2026-03-16).'
          schema:
            type: string
            format: date
            example: '2026-03-16'
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
        - in: query
          name: offset
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - API key does not belong to the right user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: API key does not belong to the user
        '400':
          description: INVALID_LIMIT - Limit must be between 1 and 500</br>
            INVALID_OFFSET - Offset must be greater than or equal to 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INVALID_LIMIT
                message: Limit must be between 1 and 500 inclusive
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

  /orders/recurring/{id}:
    get:
      tags:
        - order
      summary: Get recurring order by id
      description: |
        Returns a recurring order's metadata, template order, and its upcoming **order instances**.

        An **order instance** is a scheduled occurrence of the recurring order — it holds a `scheduledDate` and
        a copy of the order template. When an instance's scheduled date is due, `POST /orders/recurring` will
        convert it into a real order. Up to 5 future instances are kept at a time and auto-replenished when consumed.

        This endpoint returns a summary of each instance (id + scheduledDate only). To get full instance details,
        use `GET /orders/recurring/{id}/instance/{position}`.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  userId:
                    type: string
                  frequency:
                    type: string
                    enum: [Daily, Weekly, Monthly]
                  startDate:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  order:
                    $ref: '#/components/schemas/Order'
                  orderInstances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scheduledDate:
                          type: string
                          format: date-time
                      required:
                        - id
                        - scheduledDate
                required:
                  - id
                  - userId
                  - frequency
                  - startDate
                  - order
                  - orderInstances
        '400':
          description: Bad Request - recurring order does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - recurring order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - order
      summary: Edit recurring order template and propagate to all instances
      description: |
        Edits the recurring order template (note, delivery, orderLines) and propagates
        the changes to all pending instances. Monetary totals are recalculated.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                delivery:
                  $ref: '#/components/schemas/Delivery'
                orderLines:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/OrderLine'
      responses:
        '200':
          description: OK - updated recurring order with all instances
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  userId:
                    type: string
                  frequency:
                    type: string
                    enum: [Daily, Weekly, Monthly]
                  startDate:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                  order:
                    $ref: '#/components/schemas/Order'
                  orderInstances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        scheduledDate:
                          type: string
                          format: date-time
                      required:
                        - id
                        - scheduledDate
                required:
                  - id
                  - userId
                  - frequency
                  - startDate
                  - order
                  - orderInstances
        '400':
          description: Bad Request - recurring order not found or validation failure
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - recurring order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - the recurring order was modified concurrently. Retry the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - order
      summary: Delete an entire recurring order
      description: Deletes a recurring order and all its scheduled instances.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
        '400':
          description: Bad Request - recurring order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - API key does not belong to the right user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}:
    get:
      tags:
        - order
      summary: Get order by id
      description: Returns a single order as JSON.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request - invalid order id is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - API key does not belong to the right user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: API key does not belong to the user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

    put:
      tags:
        - order
      summary: Update order
      description: |
        Updates an existing order and regenerates the corresponding UBL 2.4 XML.
        Only provided fields are updated; omitted fields remain unchanged.
        Array fields (orderLines, allowanceCharge, additionalDocumentReference)
        are replaced entirely.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderUpdateRequest'
      responses:
        '200':
          description: OK - updated order object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request - invalid fields or order does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: Order does not belong to the user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

    delete:
      tags:
        - order
      summary: Delete order
      description: Deletes an order and its corresponding UBL 2.4 XML.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
        '400':
          description: Bad Request - order does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: Order does not belong to the user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

  /orders/recurring/{id}/instance/{position}:
    get:
      tags:
        - order
      summary: Get a single recurring order instance
      description: |
        Returns a single **order instance** from a recurring order by its 0-based position in the instances array.

        An order instance is an upcoming scheduled occurrence of the recurring order. Position `0` is the next due instance,
        position `1` is the one after that, and so on. Use `GET /orders/recurring/{id}` to see all instance IDs and their scheduled dates.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
        - in: path
          name: position
          required: true
          description: The 0-based index of the instance to retrieve
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: OK - the instance object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  order:
                    $ref: '#/components/schemas/Order'
                  scheduledDate:
                    type: string
                    format: date-time
                required:
                  - id
                  - order
                  - scheduledDate
        '400':
          description: Bad Request - recurring order not found or invalid position
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - recurring order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - order
      summary: Edit a recurring order instance by position
      description: |
        Edits a specific instance of a recurring order by its 0-based array position.
        Editable fields: note, delivery, orderLines. Optionally set updateTemplate to true
        to also apply the changes to the template order for future instances.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
        - in: path
          name: position
          required: true
          description: The 0-based index of the instance to edit
          schema:
            type: integer
            minimum: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                delivery:
                  $ref: '#/components/schemas/Delivery'
                orderLines:
                  type: array
                  minItems: 1
                  items:
                    $ref: '#/components/schemas/OrderLine'
                updateTemplate:
                  type: boolean
                  default: false
                  description: When true, also updates the recurring order template
      responses:
        '200':
          description: OK - updated instance
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  order:
                    $ref: '#/components/schemas/Order'
                  scheduledDate:
                    type: string
                    format: date-time
        '400':
          description: Bad Request - recurring order not found, no pending instances, invalid position, or validation failure
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - recurring order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - the recurring order was modified concurrently. Retry the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - order
      summary: Delete a single recurring order instance
      description: Deletes a single instance from a recurring order by its 0-based array position.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          description: The recurring order ID
          schema:
            type: string
        - in: path
          name: position
          required: true
          description: The 0-based index of the instance to delete
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteOrderResponse'
        '400':
          description: Bad Request - recurring order or instance not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - API key does not belong to the right user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}/xml:
    get:
      tags:
        - order
      summary: Get order XML by id
      description: Returns the UBL 2.4 XML document for a specific order.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                type: object
                xml:
                  name: Order
                  namespace: urn:oasis:names:specification:ubl:schema:xsd:Order-2
              example:
                ID: 0a1e7853-b2bc-401b-88be-acf7a6566c99
                IssueDate: "2026-03-16"
                DocumentCurrencyCode: AUD
                BuyerCustomerParty:
                  party:
                    partyName: Buyer Co
                    postalAddress:
                      streetName: 123 Buyer St
                      cityName: Sydney
                      postalZone: "2000"
                      country: AU
                SellerSupplierParty:
                  party:
                    partyName: Seller Co
                    postalAddress:
                      streetName: 456 Seller Ave
                      cityName: Melbourne
                      postalZone: "3000"
                      country: AU
                AnticipatedMonetaryTotal:
                  lineExtensionAmount: 100
                  taxExclusiveAmount: 100
                  taxInclusiveAmount: 100
                  allowanceTotalAmount: 0
                  chargeTotalAmount: 0
                  payableAmount: 100
                OrderLine:
                  lineItem:
                    id: "1"
                    quantity: 2
                    lineExtensionAmount: 100
                    item:
                      name: Widget
                    price:
                      priceAmount: 50
                      currencyID: AUD
        '400':
          description: Bad Request - order does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '403':
          description: Forbidden - order does not belong to the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: FORBIDDEN
                message: API key does not belong to the user
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect
  /orders/recommend:
    get:
      tags:
        - order
      summary: Get order recommendation
      description: |
        Analyses the authenticated user's past orders and returns the most frequently occurring combination of line items
        (same item names and quantities) as a single representative order.
        At least two orders with the same pattern are required; otherwise a 400 is returned.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK - most frequently occurring order pattern for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request - no frequent orders found for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INVALID_RECOMMENDATION
                message: No frequent orders found
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: UNAUTHORIZED
                message: Invalid api key is given
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INTERNAL_SERVER_ERROR
                message: Cant connect

  /stores:
    post:
      tags:
        - store
      summary: Create store
      description: Creates a store owned by the authenticated user.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCreateRequest'
      responses:
        '201':
          description: Created - store created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Bad Request - invalid request body or missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict - authenticated user already owns a store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - store
      summary: List visible stores
      description: Returns all stores except those whose status is `closed`.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /stores/me:
    get:
      tags:
        - store
      summary: Get authenticated user store
      description: Returns the store owned by the authenticated user.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - authenticated user does not own a store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /stores/{storeId}:
    get:
      tags:
        - store
      summary: Get store by id
      description: Returns a single store by `storeId`.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: storeId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - store does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - store
      summary: Update store details
      description: Updates one or more editable store fields for the authenticated owner.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: storeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Bad Request - invalid store update payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - store does not belong to the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - store does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /stores/{storeId}/status:
    put:
      tags:
        - store
      summary: Update store status
      description: Updates only the store status for the authenticated owner.
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: storeId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreStatusUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Bad Request - invalid status value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - store does not belong to the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found - store does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
      required:
        - status

    ApiKeyResponse:
      type: object
      properties:
        apiKey:
          type: string
      required:
        - apiKey

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required:
        - error
        - message

    ValidationErrorItem:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
      required:
        - field
        - message

    ValidationErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorItem'
      required:
        - errors

    OrderListItem:
      type: object
      properties:
        id:
          type: string
        issueDate:
          type: string
          format: date
        buyerName:
          type: string
        sellerName:
          type: string
        payableAmount:
          type: number
        documentCurrencyCode:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - issueDate
        - buyerName
        - sellerName
        - payableAmount
        - documentCurrencyCode
        - createdAt

    OrderListResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderListItem'
        limit:
          type: integer
        offset:
          type: integer
        totalOrders:
          type: integer
      required:
        - orders
        - limit
        - offset
        - totalOrders

    DeleteOrderResponse:
      type: object
      properties:
        message:
          type: string
      required:
        - message

    Period:
      type: object
      properties:
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date

    DocumentReference:
      type: object
      properties:
        id:
          type: string
        documentType:
          type: string
      required:
        - id

    Address:
      type: object
      properties:
        streetName:
          type: string
        additionalStreetName:
          type: string
        buildingNumber:
          type: string
        cityName:
          type: string
        postalZone:
          type: string
        countrySubentity:
          type: string
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          example: AU
      required:
        - streetName
        - cityName
        - postalZone
        - country

    Contact:
      type: object
      properties:
        name:
          type: string
        telephone:
          type: string
        email:
          type: string
          format: email

    Party:
      type: object
      properties:
        partyName:
          type: string
        partyIdentification:
          type: string
        postalAddress:
          $ref: '#/components/schemas/Address'
        contact:
          $ref: '#/components/schemas/Contact'
      required:
        - partyName
        - postalAddress

    CustomerParty:
      type: object
      properties:
        party:
          $ref: '#/components/schemas/Party'
      required:
        - party

    SupplierParty:
      type: object
      properties:
        party:
          $ref: '#/components/schemas/Party'
      required:
        - party

    TaxCategory:
      type: object
      properties:
        percent:
          type: number
          minimum: 0
        taxScheme:
          type: string
      required:
        - taxScheme

    TaxSubtotal:
      type: object
      properties:
        taxableAmount:
          type: number
        taxAmount:
          type: number
        taxCategory:
          $ref: '#/components/schemas/TaxCategory'
      required:
        - taxableAmount
        - taxAmount
        - taxCategory

    TaxTotal:
      type: object
      properties:
        taxAmount:
          type: number
        currencyID:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        taxSubtotal:
          type: array
          items:
            $ref: '#/components/schemas/TaxSubtotal'
      required:
        - taxAmount
        - currencyID

    MonetaryTotal:
      type: object
      properties:
        lineExtensionAmount:
          type: number
        taxExclusiveAmount:
          type: number
        taxInclusiveAmount:
          type: number
        allowanceTotalAmount:
          type: number
        chargeTotalAmount:
          type: number
        payableAmount:
          type: number

    AllowanceCharge:
      type: object
      properties:
        chargeIndicator:
          type: boolean
        allowanceChargeReasonCode:
          type: string
        allowanceChargeReason:
          type: string
        amount:
          type: number
        currencyID:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
      required:
        - chargeIndicator
        - amount
        - currencyID

    PaymentMeans:
      type: object
      properties:
        paymentMeansCode:
          type: string
        paymentDueDate:
          type: string
          format: date
        paymentID:
          type: string
      required:
        - paymentMeansCode

    PaymentTerms:
      type: object
      properties:
        note:
          type: string

    Delivery:
      type: object
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        requestedDeliveryPeriod:
          $ref: '#/components/schemas/Period'

    DeliveryTerms:
      type: object
      properties:
        specialTerms:
          type: string

    Price:
      type: object
      properties:
        priceAmount:
          type: number
          minimum: 0
        currencyID:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        baseQuantity:
          type: number
          exclusiveMinimum: 0
      required:
        - priceAmount
        - currencyID

    Item:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        buyersItemIdentification:
          type: string
        sellersItemIdentification:
          type: string
        standardItemIdentification:
          type: string
        classifiedTaxCategory:
          $ref: '#/components/schemas/TaxCategory'
      required:
        - name

    LineItem:
      type: object
      properties:
        id:
          type: string
        quantity:
          type: number
          exclusiveMinimum: 0
          example: 2
        unitCode:
          type: string
        lineExtensionAmount:
          type: number
          readOnly: true
        price:
          $ref: '#/components/schemas/Price'
        item:
          $ref: '#/components/schemas/Item'
        delivery:
          $ref: '#/components/schemas/Delivery'
      required:
        - id
        - quantity
        - price
        - item

    OrderLine:
      type: object
      properties:
        lineItem:
          $ref: '#/components/schemas/LineItem'
      required:
        - lineItem

    OrderBase:
      type: object
      properties:
        id:
          type: string
        salesOrderId:
          type: string
        issueDate:
          type: string
          format: date
        issueTime:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$'
        orderTypeCode:
          type: string
        note:
          type: string
        documentCurrencyCode:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        pricingCurrencyCode:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        taxCurrencyCode:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
        customerReference:
          type: string
        accountingCostCode:
          type: string
        validityPeriod:
          $ref: '#/components/schemas/Period'
        quotationDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        orderDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        originatorDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        additionalDocumentReference:
          type: array
          items:
            $ref: '#/components/schemas/DocumentReference'
        buyerCustomerParty:
          $ref: '#/components/schemas/CustomerParty'
        sellerSupplierParty:
          $ref: '#/components/schemas/SupplierParty'
        originatorCustomerParty:
          $ref: '#/components/schemas/CustomerParty'
        delivery:
          $ref: '#/components/schemas/Delivery'
        deliveryTerms:
          $ref: '#/components/schemas/DeliveryTerms'
        paymentMeans:
          $ref: '#/components/schemas/PaymentMeans'
        paymentTerms:
          $ref: '#/components/schemas/PaymentTerms'
        allowanceCharge:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        taxTotal:
          $ref: '#/components/schemas/TaxTotal'
        anticipatedMonetaryTotal:
          $ref: '#/components/schemas/MonetaryTotal'
        orderLines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLine'
      required:
        - id
        - issueDate
        - documentCurrencyCode
        - buyerCustomerParty
        - sellerSupplierParty
        - orderLines

    Order:
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          properties:
            createdAt:
              type: string
              format: date-time
              readOnly: true
            updatedAt:
              type: string
              format: date-time
              readOnly: true
            xmlUrl:
              type: string
              readOnly: true

    OrderCreateRequest:
      allOf:
        - $ref: '#/components/schemas/OrderBase'

    RecurringOrderCreateRequest:
      allOf:
        - $ref: '#/components/schemas/OrderBase'
        - type: object
          description: |
            Request body for creating a recurring order. Includes all standard order fields
            plus recurring-specific fields (recurring, frequency, startDate). The order fields
            serve as the template for each generated instance. 5 instances are pre-generated
            upon creation and automatically replenished as they are executed.
          required:
            - recurring
            - frequency
            - startDate
          properties:
            recurring:
              type: boolean
              enum: [true]
              description: Must be set to `true` to create a recurring order.
            frequency:
              type: string
              enum: [Daily, Weekly, Monthly]
              description: How often the order should recur.
            startDate:
              type: string
              format: date-time
              description: The date the first instance is scheduled for (e.g. "2026-03-20" or "2026-03-20T09:00:00Z").

    RecurringOrderCreateResponse:
      type: object
      description: Summary returned after successfully creating a recurring order.
      required:
        - id
        - frequency
        - startDate
        - createdAt
      properties:
        id:
          type: string
          description: The unique ID of the recurring order.
        frequency:
          type: string
          enum: [Daily, Weekly, Monthly]
        startDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    OrderUpdateRequest:
      type: object
      description: Partial order update payload. Only provided fields are updated. Identity fields (buyerCustomerParty, sellerSupplierParty, issueDate, documentCurrencyCode) cannot be changed after creation.
      properties:
        salesOrderId:
          type: string
        issueTime:
          type: string
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$'
        orderTypeCode:
          type: string
        note:
          type: string
        customerReference:
          type: string
        accountingCostCode:
          type: string
        validityPeriod:
          $ref: '#/components/schemas/Period'
        quotationDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        orderDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        originatorDocumentReference:
          $ref: '#/components/schemas/DocumentReference'
        additionalDocumentReference:
          type: array
          items:
            $ref: '#/components/schemas/DocumentReference'
        originatorCustomerParty:
          $ref: '#/components/schemas/CustomerParty'
        delivery:
          $ref: '#/components/schemas/Delivery'
        deliveryTerms:
          $ref: '#/components/schemas/DeliveryTerms'
        paymentMeans:
          $ref: '#/components/schemas/PaymentMeans'
        paymentTerms:
          $ref: '#/components/schemas/PaymentTerms'
        allowanceCharge:
          type: array
          items:
            $ref: '#/components/schemas/AllowanceCharge'
        taxTotal:
          $ref: '#/components/schemas/TaxTotal'
        orderLines:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLine'

    StoreStatus:
      type: string
      enum:
        - active
        - paused
        - closed

    Store:
      type: object
      properties:
        storeId:
          type: string
        userId:
          type: string
        storeName:
          type: string
        description:
          type: string
        logoUrl:
          type: string
        bannerUrl:
          type: string
        location:
          type: string
        category:
          type: string
        status:
          $ref: '#/components/schemas/StoreStatus'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - storeId
        - userId
        - storeName
        - description
        - status

    StoreCreateRequest:
      type: object
      properties:
        storeName:
          type: string
        description:
          type: string
        logoUrl:
          type: string
        bannerUrl:
          type: string
        location:
          type: string
        category:
          type: string
        status:
          $ref: '#/components/schemas/StoreStatus'
      required:
        - storeName
        - description
        - status

    StoreUpdateRequest:
      type: object
      properties:
        storeName:
          type: string
        description:
          type: string
        logoUrl:
          type: string
        bannerUrl:
          type: string
        location:
          type: string
        category:
          type: string
        status:
          $ref: '#/components/schemas/StoreStatus'

    StoreStatusUpdateRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/StoreStatus'
      required:
        - status
